<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Trello Report</title>
  <!-- Third party dependencies. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.js"></script>
  <script src="https://api.trello.com/1/client.js?key=2bc3b5a540124c12308973deebd404a6"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script src="//appsforoffice.microsoft.com/lib/1.1/hosted/Office.js" type="text/javascript"></script>
  <!-- App code. -->
  <script src="scripts/app.js"></script>
  <script src="controllers/mainController.js"></script>
  <script src="controllers/navbarController.js"></script>
  <script src="services/trelloFactory.js"></script>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div ng-controller="NavbarController as nav">
    <nav class="navbar navbar-default nav-links navbar-fixed-top trello-header">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li>
            <a href="" ng-click="nav.connect()" ng-hide="nav.isConnected">Connect to Trello or sign up</a>
          </li>
          <li>
            <a href="" ng-click="nav.disconnect()" ng-show="nav.isConnected">Disconnect from Trello</a>
          </li>
        </ul>
      </div>
    </nav>
    <nav class="navbar navbar-default nav-links ie-warning" ng-show="nav.isIE">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li>
            <a href="http://www.trello.com" target="_blank">Looks like you're using IE. Sign in to Trello on their website before clicking the button here.</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    <main>
      <div ng-view></div>
    </main>
  </div>
</body>

</html>